.RichTextField {
  position: relative;
  min-height: 100px;
  padding: 0.375rem 0.75rem;
  background: #fdfdfd;
  border: 0.5px solid #8a8a8a;
  box-shadow: 0 0 0 0.5px inset #dedede;
  border-radius: 0 0 0.5rem 0.5rem;
  white-space: pre-wrap;
}

.RichTextField [data-slate-placeholder] {
  inset-inline-start: 0;
  padding: 0.375rem 0.75rem;
}

.RichTextField:not(.RichTextField--error):hover {
  background: #fafafa;
  border-color: #616161;
  box-shadow: 0 0 0 0.5px inset #616161;
}

.RichTextField:not(.RichTextField--error):focus {
  outline: 2px solid #005bd3;
  outline-offset: -2px;
}

.RichTextField--error {
  background: #fee8eb;
  border-color: #8e0b21;
}

.RichTextField :is(ol, ul) {
  padding: 0;
  padding-inline-start: 0.75rem;
}

.RichTextField > * {
  margin-block: 0.375rem;
}

.RichTextField > *:first-child {
  margin-block-start: 0;
}

.RichTextField > *:last-child {
  margin-block-end: 0;
}

.RichTextField h1 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 2.5rem;
}

.RichTextField h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.0125rem;
  line-height: 2rem;
}

.RichTextField h3 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.0125rem;
  line-height: 1.5rem;
}

.RichTextField h4 {
  font-size: 0.875rem;
  font-weight: 650;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.RichTextField h5 {
  font-size: 0.8125rem;
  font-weight: 650;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.RichTextField h6 {
  font-size: 0.75rem;
  font-weight: 650;
  letter-spacing: 0;
  line-height: 1rem;
}